.admin-dashboard {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar {
  position: fixed;          /* Cố định */
  top: 0;
  left: 0;
  width: 250px;              /* Chiều rộng cố định */
  height: 100vh;              /* Chiều cao toàn màn hình */
  background: #2c3e50;       /* Màu nền sidebar */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}

.profile {
  text-align: center;
  margin-bottom: 40px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profile h3 {
  margin-top: 10px;
  font-size: 18px;
}

.role {
  color: #e0a80d;
  font-size: 14px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.menu-item {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  transition: background 0.2s;
}

.menu-item:hover,
.menu-item.active {
  background: #34495e;
}

.logout {
  margin-top: 250px;
  background: #e74c3c;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

/* Main Content */


.admin-content {
  margin-left: 260px;
  padding: 20px;
  width: calc(100% - 250px);
}

.admin-container {
  display: flex;
  background: #fff;
  overflow-y: auto;
}